@page "/admin"

@attribute [Authorize]
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<h1>Hello, @userName !</h1>

This page is accessed only by admin. Admin only can see this page in Nav Menu !

<p>Last login: @lastLogin </p>
<p>Last logout: @lastLogout </p>

@code {
    private string userName = "Guest";
    private string lastLogin;
    private string lastLogout;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is { IsAuthenticated: true })
        {
            userName = user.Identity.Name; // Extracted from the Name claim
        }
        lastLogin = Preferences.Get("AdminLastLogin", "N/A");
        lastLogout = Preferences.Get("AdminLastLogout", "N/A");
    }

}